* {
  color: #eeeeee !important; }

body {
  background-color: #080808 !important; }

#blueBar {
  background: none !important;
  background-color: black !important; }
  #blueBar:after {
    background: none !important; }

div#mainContainer {
  border-right: 1px solid #eeeeee !important; }

div#contentCol {
  background: none !important;
  background-color: #080808 !important; }

.fbNubFlyoutInner {
  background: none !important; }

._5q5b .fbNubFlyoutTitlebar {
  background: none !important;
  background-color: #333333 !important;
  border: 1px solid #1a1a1a !important; }
  ._5q5b .fbNubFlyoutTitlebar:hover {
    background-color: #262626 !important; }

._5q5b ._50mz.highlightTitle .fbNubFlyoutTitlebar {
  background-color: #4d4d4d !important; }

.fbNubFlyoutHeader > div {
  background-color: #444444 !important; }
  .fbNubFlyoutHeader > div > div {
    background-color: #444444 !important; }

.fbNubFlyoutBody {
  border-color: black !important; }

.fbNubButton:hover {
  -webkit-filter: brightness(0.85); }

._5q5b .highlightTab .fbNubButton:before, ._5q5b .highlightTab .fbNubButton:after {
  -webkit-filter: grayscale(1) brightness(0.44); }

._5q5b .highlightTab .fbNubButton:hover:before, ._5q5b .highlightTab .fbNubButton:hover:after {
  -webkit-filter: grayscale(1) brightness(0.51); }

.fbNubButton {
  background: none !important;
  background-color: #333333 !important;
  -webkit-background-clip: padding-box !important;
  border-top: 1px solid rgba(51, 51, 51, 0.5) !important; }
  .fbNubButton div.name {
    text-shadow: none !important; }

.fbNubButton:before, .fbNubButton:after {
  -webkit-filter: grayscale(1) brightness(0.21); }

table.conversationContainer {
  background: none !important;
  background-color: gray !important; }

._51lq a.profileLink:after {
  -webkit-filter: brightness(0.55);
  border-radius: 3px; }

.conversation > div > div._5w-5 > div {
  background-color: gray !important; }
.conversation > div ._5ys_:after {
  -webkit-filter: brightness(0.55); }
.conversation > div ._5w1r {
  text-shadow: none;
  -webkit-box-shadow: 0 1px 0 #5a5a5a !important;
  background: none !important; }
.conversation > div > div._1nc7 > div > div > div._5w1r {
  background-color: #333333 !important; }
  .conversation > div > div._1nc7 > div > div > div._5w1r:before {
    background: none !important;
    background-color: #333333 !important; }
  .conversation > div > div._1nc7 > div > div > div._5w1r:after {
    -webkit-filter: brightness(0.55); }
.conversation > div > div._1nc6 > div > div > div._5w1r {
  background-color: #444444 !important; }
  .conversation > div > div._1nc6 > div > div > div._5w1r:before {
    background: none !important;
    background-color: #444444 !important; }
  .conversation > div > div._1nc6 > div > div > div._5w1r:after {
    -webkit-filter: brightness(0.55); }

.fbNubFlyoutFooter, .uiTextareaAutogrow {
  background: none !important;
  background-color: #333333 !important;
  border: none !important;
  border-width: none !important; }
  .fbNubFlyoutFooter:after, .uiTextareaAutogrow:after {
    background-color: rgba(0, 0, 0, 0.5) !important; }

._552n {
  right: 0 !important;
  height: 27px !important; }

.img[alt="Camera"], .UFICommentPhotoIcon {
  -webkit-filter: brightness(0.3); }

.uiToggle.emoticonsPanel, ._552n, .UFIPhotoAttachLinkWrapper {
  background: none !important;
  background-color: #333333 !important; }

img.loading {
  -webkit-filter: grayscale(1) brightness(0.25); }

div._3b {
  background: none !important;
  background-color: black !important; }
  div._3b span.uiSearchInput._3c {
    background: none !important;
    background-color: #333333 !important; }
    div._3b span.uiSearchInput._3c button {
      background-color: #333333 !important; }

div.jewelHeader, ul.jewelItemList, div.jewelFooter a {
  background-color: black !important; }

.notifNegativeBase #fbMessagesFlyout .jewelContent a.messagesContent:hover {
  background-color: #222222 !important; }

div._ksg {
  background: none !important;
  background-color: black !important; }

div._51xa button, div._51xa a {
  background: none !important;
  background-color: black !important;
  text-shadow: none !important; }

a.pam.uiMorePagerPrimary {
  background: none !important; }

ul._4kg {
  background: none !important;
  background-color: #080808 !important; }
  ul._4kg li._2n3 {
    border-top: 1px solid #2e2e2e; }
    ul._4kg li._2n3 abbr {
      background: none !important; }
  ul._4kg li._kv {
    background: none !important;
    background-color: #2e3c5a !important; }
  ul._4kg li._kx {
    background: none !important;
    background-color: #151515 !important; }
  ul._4kg .MercuryRepliedIndicator {
    -webkit-filter: invert(1); }
  ul._4kg._2tm > li:not(._kv):hover {
    background: none !important;
    background-color: #222222 !important; }
  ul._4kg li.unreadHighlight {
    background: none !important;
    background-color: #222222 !important; }
  ul._4kg + div {
    background: none !important;
    background-color: #080808 !important; }

div._1rs {
  background: none !important;
  background-color: black !important; }
  div._1rs div._2pt {
    background: none !important;
    background-color: #333333 !important; }
    div._1rs div._2pt div.uiToggle.emoticonsPanel {
      background: none !important; }
      div._1rs div._2pt div.uiToggle.emoticonsPanel i.emoteTogglerImg {
        -webkit-filter: grayscale(1) brightness(0.2); }
  div._1rs div._1rw {
    background: none !important;
    background-color: #080808 !important; }
    div._1rs div._1rw a.uiButton:hover {
      background: none !important;
      background-color: #222222 !important; }

.uiScrollableAreaContent > ul {
  background-color: black !important; }

._33c._4af a {
  background-color: #1a1a1a !important; }

._33c:hover a._33e {
  background-color: #1a1a1a !important; }

div.fbChatSidebar {
  background: none !important;
  background-color: #080808 !important; }

.fbChatOrderedList {
  background: none !important;
  background-color: black !important; }
  .fbChatOrderedList a:hover {
    background-color: #1a1a1a !important; }

.fbSidebarGripper {
  background-color: black !important; }

table._51mz._4oes tr._51mx {
  background-color: #333333 !important; }

ul._50d1 > li {
  background-color: #333333 !important;
  border: 1px solid #1a1a1a !important; }
  ul._50d1 > li:hover {
    background-color: #262626 !important;
    border: 1px solid #0d0d0d !important; }

.uiCloseButton {
  -webkit-filter: grayscale(1) brightness(2); }

.tickerActivityStories {
  background-color: black !important; }

#pagelet_sidebar ._5pr2 .fbFeedTicker .tickerStoryClickable:hover {
  background: none !important;
  background-color: #1a1a1a !important; }

.fbSettingsListLink:hover {
  background-color: black !important; }

._70k, div.openToggler > a._9ry {
  background-color: #080808 !important; }

._6-6:hover, div.openToggler > a._9ry:hover {
  background: none !important;
  background-color: #222222 !important; }

._54nf {
  background-color: #080808 !important; }
  ._54nf a:hover {
    background-color: #222222 !important; }

.fbTimelineStickyHeader > div > div.back {
  background-color: black !important; }
.fbTimelineStickyHeader > div > div.name > span.uiButtonGroup {
  background-color: #080808 !important;
  border-color: #222222 !important;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) !important; }

.fbTimelineScrubber {
  background: none !important; }
  .fbTimelineScrubber li a {
    border-left-color: #d3d7dc !important;
    border-left-color: #222222 !important; }
  .fbTimelineScrubber .selected > a {
    border-left-color: #6a7480 !important;
    border-left-color: #3b3b3b !important; }

#settings_usability_survey_root {
  background-color: #151515 !important; }

._6dh ._5142, .fbTimelineFeedbackActions, ul.UFIList, li.UFIRow, #pageFooter, ._5pcb > div {
  background-color: #080808 !important; }

.timelineUnitContainer {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  background-color: #111111 !important; }
  .timelineUnitContainer .uiTextareaAutogrow {
    background-color: black !important; }

div.composerTypeahead > div {
  background-color: black !important; }

._1dsp {
  background-color: black !important;
  border-top-color: blue !important; }

._1xz, ._6m2 {
  background: none !important;
  background-color: #151515 !important; }

._53ij {
  background-color: black !important; }

._572u {
  background-color: black !important; }

.HovercardFollowButton > a, .HovercardMessagesButton {
  background: none !important;
  background-color: black !important; }

.uiPopoverButton, .friendButton {
  /*background: none !important;
   *background-color: black !important;
   */ }
  .uiPopoverButton.uiPopoverButtonWithChevron._52nd, .friendButton.uiPopoverButtonWithChevron._52nd {
    background-image: none !important;
    background: green !important;
    border: 1px solid white !important; }

._585- {
  background: none !important;
  background-color: #080808 !important; }
